name: Build geosite.dat
on:
  workflow_dispatch:
  schedule:
    - cron: "30 21 * * *"
  push:
    branches:
      - master
    paths-ignore:
      - "**/README.md"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Compare latest tags and set variables
        run: |
          upstreamLatestTag=$(curl -sSL --connect-timeout 5 --retry 5 -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/IceCodeNew/domain-list-community/releases/latest | grep "tag_name" | cut -d\" -f4)
          thisLatestTag=$(curl -sSL --connect-timeout 5 --retry 5 -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/${{ github.repository }}/releases/latest | grep "tag_name" | cut -d\" -f4)
          if [[ $upstreamLatestTag != $thisLatestTag ]]; then
            echo "NeedToSync=true" >> $GITHUB_ENV
          fi
          echo "RELEASE_NAME=$upstreamLatestTag" >> $GITHUB_ENV
          echo "TAG_NAME=$upstreamLatestTag" >> $GITHUB_ENV
        shell: bash

      - name: Checkout codebase
        uses: actions/checkout@v6
        if: ${{ env.NeedToSync }}

      - name: Setup Go
        uses: actions/setup-go@v6
        if: ${{ env.NeedToSync }}
        with:
          go-version-file: ./go.mod

      - name: Checkout IceCodeNew/domain-list-community
        if: ${{ env.NeedToSync }}
        uses: actions/checkout@v6
        with:
          repository: IceCodeNew/domain-list-community
          path: domain-list-community

      - name: Append attribute rules
        if: ${{ env.NeedToSync }}
        run: |
          $(type -P curl) -LRq --retry 5 --retry-delay 10 --retry-max-time 60 'https://raw.githubusercontent.com/Loyalsoldier/domain-list-custom/release/cn.txt' -o './domain-list-community/data/cn'
          $(type -P curl) -LRq --retry 5 --retry-delay 10 --retry-max-time 60 'https://raw.githubusercontent.com/Loyalsoldier/domain-list-custom/release/geolocation-!cn.txt' -o './domain-list-community/data/geolocation-\!cn'

      - name: Get dependencies and run
        if: ${{ env.NeedToSync }}
        run: |
          go run ./ \
              --datapath='./domain-list-community/data/' \
              --exportlists='category-ads-all,tld-cn,cn,geolocation-cn,tld-!cn,geolocation-!cn,private,apple,icloud,google,steam,bilibili,category-entertainment,category-scholar-!cn,cloudflare' \
              --excludeattrs='cn@!cn@ads,geolocation-cn@!cn@ads,geolocation-!cn@cn@ads,bilibili@!cn@ads,category-entertainment@cn@ads,category-scholar-!cn@cn@ads,cloudflare@cn@ads'

      - name: Generate sha256 hashsum
        if: ${{ env.NeedToSync }}
        run: |
          cd publish || exit 1
          sha256sum geosite.dat > geosite.dat.sha256sum

      - name: Git push assets to "release" branch
        if: ${{ env.NeedToSync }}
        run: |
          cd publish || exit 1
          git init
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git checkout -b release
          git add .
          git commit -m "${{ env.RELEASE_NAME }}"
          git remote add publish "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"
          git push -f publish release

      - name: Release and upload assets
        if: ${{ env.NeedToSync }}
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ env.RELEASE_NAME }}
          tag_name: ${{ env.TAG_NAME }}
          draft: false
          prerelease: false
          files: |
            ./publish/geosite.dat
            ./publish/geosite.dat.sha256sum
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
